In [12]:
import sys
sys.path.append("../")

import gcsfs
import zarr

import dask.array as da

from src.cmesrc.config import CMESRC_DB
import sqlite3
from matplotlib.colors import Normalize

import matplotlib.pyplot as plt
from src.cmesrc.utils import filepaths_updated_swan_data, read_SWAN_filepath
import pandas as pd

In [6]:
con = sqlite3.connect(CMESRC_DB)
con.execute("PRAGMA foreign_keys = ON")
cur = con.cursor()

In [22]:
SWAN = filepaths_updated_swan_data()

df = read_SWAN_filepath(SWAN[5342])
df

==CACHING SWAN DATA.==

100%|██████████| 4098/4098 [00:00<00:00, 1186460.81it/s]

                                       Timestamp   TOTUSJH  ...  LATDTMAX   IRBB
Timestamp                                                   ...
2015-03-16 14:12:00.000  2015-03-16 14:12:00.000  0.000000  ...   28.6812  False
2015-03-16 14:24:00.000  2015-03-16 14:24:00.000  0.000000  ...   28.6812  False
2015-03-16 14:36:00.000  2015-03-16 14:36:00.000  0.000000  ...   28.6812  False
2015-03-16 14:48:00.000  2015-03-16 14:48:00.000  0.000000  ...   28.6812  False
2015-03-16 15:00:00.000  2015-03-16 15:00:00.000  0.092999  ...   28.6812  False
...                                          ...       ...  ...       ...    ...
2015-03-29 23:12:00.000  2015-03-29 23:12:00.000  0.602432  ...   28.6812  False
2015-03-29 23:24:00.000  2015-03-29 23:24:00.000  0.319865  ...   28.6812  False
2015-03-29 23:36:00.000  2015-03-29 23:36:00.000  0.160847  ...   28.6812  False
2015-03-29 23:48:00.000  2015-03-29 23:48:00.000  0.057240  ...   28.6812  False
2015-03-30 00:00:00.000  2015-03-30 00:00:00.000  0.000000  ...   28.6812  False

[1610 rows x 60 columns]

In [11]:
cur.execute("PRAGMA table_info(harps_bbox)")

[(0, 'harpnum', 'INTEGER', 0, None, 1), (1, 'timestamp', 'TEXT', 0, None, 2), (2, 'LONDTMIN', 'REAL', 0, None, 0), (3, 'LONDTMAX', 'REAL', 0, None, 0), (4, 'LATDTMIN', 'REAL', 0, None, 0), (5, 'LATDTMAX', 'REAL', 0, None, 0), (6, 'IRBB', 'INTEGER', 0, None, 0)]

In [20]:
new_df = pd.read_sql_query("SELECT timestamp, londtmin, londtmax, latdtmin, latdtmax FROM harps_bbox WHERE harpnum = 5342", con)
new_df.set_index("timestamp", inplace=True)
new_df

                       LONDTMIN   LONDTMAX  LATDTMIN  LATDTMAX
timestamp
2015-03-16 14:12:00 -106.360001 -78.902000   14.7086   28.6812
2015-03-16 14:24:00 -106.249001 -78.791000   14.7086   28.6812
2015-03-16 14:36:00 -106.138000 -78.680000   14.7086   28.6812
2015-03-16 14:48:00 -106.027000 -78.569000   14.7086   28.6812
2015-03-16 15:00:00 -105.916000 -78.458000   14.7086   28.6812
...                         ...        ...       ...       ...
2015-03-29 23:12:00   71.806702  99.264603   14.7086   28.6812
2015-03-29 23:24:00   71.917702  99.375603   14.7086   28.6812
2015-03-29 23:36:00   72.028702  99.486603   14.7086   28.6812
2015-03-29 23:48:00   72.139702  99.597603   14.7086   28.6812
2015-03-30 00:00:00   72.250702  99.708702   14.7086   28.6812

[1518 rows x 4 columns]

In [21]:
# Merge based on index values

merged = df.merge(new_df, how="inner", left_index=True, right_index=True)
merged

                                       Timestamp  ...  LATDTMAX_y
2015-03-16 14:12:00.000  2015-03-16 14:12:00.000  ...     28.6812
2015-03-16 14:24:00.000  2015-03-16 14:24:00.000  ...     28.6812
2015-03-16 14:36:00.000  2015-03-16 14:36:00.000  ...     28.6812
2015-03-16 14:48:00.000  2015-03-16 14:48:00.000  ...     28.6812
2015-03-16 15:00:00.000  2015-03-16 15:00:00.000  ...     28.6812
...                                          ...  ...         ...
2015-03-29 23:12:00.000  2015-03-29 23:12:00.000  ...     28.6812
2015-03-29 23:24:00.000  2015-03-29 23:24:00.000  ...     28.6812
2015-03-29 23:36:00.000  2015-03-29 23:36:00.000  ...     28.6812
2015-03-29 23:48:00.000  2015-03-29 23:48:00.000  ...     28.6812
2015-03-30 00:00:00.000  2015-03-30 00:00:00.000  ...     28.6812

[1518 rows x 64 columns]